
body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;

}
img{
	max-width: 100%;
}
.min-bg-section{
	background-color:#F7F9FF;
}
/*header */

.jon-header{}
.jon-header .navbar-brand {
	font-size: 25px;
	font-weight: 500;
}
.jon-header span{
	display: inline-block;
	color: #fff;
	background: #6278DF;
	height: 42px;
	width: 43px;
	text-align: center;
	border-radius: 10px;
	font-size: 26px;
	line-height: 43px;
}
.jon-menu{}
.jon-menu .nav-link {
 
	padding-left: 45px !important;
	padding-right: 10px !important;
}
/* slider section*/
.slider-section{
    background: url(img/ak.jpg);
	padding: 200px 0;
	position: relative;
	z-index: 1;
}
.slider-section ::after{
	content:"";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	z-index: -1;
}
.slider-caption h4 {
	margin-bottom: 35px;
}
.slider-caption h2 {
	font-size: 44px;
	margin-bottom: 44px;
}
.slider-caption .btn {
	background: #5BA533;
	font-size: 20px;
	font-weight: 600;
	padding: 14px;
	border: 1px solid #5BA533;
	border-radius: 8px;
}
.slider-caption .form-control {
	padding: 15px;
	border: 1px solid #5BA533;
	border-radius: 8px;
	width: 85%;
}

.counter-number-item .h2 {
	font-size: 55px;
}
.counter-number-item span {
	font-size: 20px;
}

/*about section*/
.about-section{
	background:#F7F9FF;
}
.about-section-left {
margin: 100px;
}
.about-section-left h1 {
	font-size: 40px;
	font-weight: 600;
}
.about-section-left .lead {
	font-size: 20px;
	line-height: 2.5rem;
	margin-top: 30px;
}


/*freture-heading*/
.freture-heading{}
.heading-freture {
	text-align: center;
	margin-top: 30px;
}
.heading-freture h1 {
	font-size: 45px;
	font-weight: 400;
}
.heading-freture p {
	font-size: 25px;
	font-weight: 300;
	color: #767676;
	margin-top: 30px;
}
/*freture section*/

.freture-scetion{}
 

.freture-item{
	height: 270px;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
	margin-bottom: 30px;
}
.left-img-section {
	width: 40%;
	overflow: hidden;
	border-radius: 4px;
}
.left-img-section img {
	height: 100%;
	width: auto;
	max-width: inherit;
	position: relative;
	left: -92px;
}

.right-text-section {
	width: 60%;
	padding: 25px;
}
.right-text-section h4{}
.right-text-section p {
	color: #767676;
}


/*application section*/
.application-sec {
	margin-bottom: 50px;
}
.appli-text {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}
.appli-text h1 {
	font-size: 42px;
	font-weight: 400;
}
.appli-img{
	margin: 12px 0; 
}

/*img section hover*/
.appli-img{}
.appli-img a{
	position: relative;
	display: block;
}
.appli-img a::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color:rgba( 98, 120, 223,.7);
	opacity: 0;
visibility: hidden ;
transition: .5s;

}
 
.appli-img:hover a::after{
	opacity: 1;
	visibility: visible;
}


/*priceing section*/
.priceing-table{}

.pricing-item {
	padding: 40px;
	background-color: #fff;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3);
	width: 80%;
	display: block;
	margin: 0 auto;
	border-radius: 4px;
}
.pricing-item h1{}
.pricing-item h5 {
	font-weight: 400;
}
.pricing-item ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 55px;
}
.pricing-item ul li {
	font-size: 20px;
	margin: 20px 0;
	color: #767676;
	font-weight: 400;
}
.pricing-item ul li span {
	color: #6278DF;
	padding: 20px;
	font-size: 30px;
}

.priceing-item-button {

}
.priceing-item-button a {
	font-weight: 600;
	border: 0px;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3);
	padding: 20px 50px;
	border-radius: 10px;
}

/*testimonial section*/
.author-info {
	width: 300px;
	margin: auto;
	padding: 0;
}
.author-info img {
	width: 75px;
	margin-right: 20px;
}
.user-details {
	text-align: left;
	position: relative;
	top: 14px;
}
 
 
.quats span{
	font-size: 79px;
	color: #767676;
	opacity: .2;
}

/*about section*/
.about-item {
	margin-top: 100px;
}
.about-item .card{
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3);
}
.about-item .card img {
	width: 133px;
	height: auto;
	margin-top: -88px;
	margin-left: 12px;
	 
}

/* contract section*/
.contract-section .card{
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3);
	padding:40px;
}
.footer-bg{
	background-color:#2c3e50;
}
.footer-clr{
	color: #ecf0f1;
}